.receipt_background{
    background-image: url('..//img/bg-image.png');
    background-size: 100% 100%;
    background-position: center center;
    min-height: 490px;
    max-height: auto;
  }
  .box h1{
    line-height:auto;
    font-size: 3.5nw;
    font-family: avenir;
    font-weight: Bold;
  }
  .box {
    text-align: center;
  height: 10%;
    border-bottom: 5px solid gray;
    background-color: #00579A;
    color: white;
}
  .table {
    width: 50% !important;
    max-width: 50%;
    margin-bottom: 20px;
    border: 2px solid #00579A;
    margin-left:25%;
}
  .tbody th {
    background-color: rgb(165, 211, 247);
    border: 1px solid black;
    padding: 3%;
    width: 27%;
    color: #00579A;
    font-size: 1.2em
  }
  .tbody td {
    border: 1px solid #00579A;
    padding: 40%;
    font-size: 1.3em;
    color: #4472c4;
  }
   .msg {
    width: 100%;
    height: 5%;
    text-align: center;
    color: #00579A;
    font-size: 1.6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold ;
    margin-top: 2%; 
  }
   
  .global-header{
    padding: 20px;
    color: #00579A;
    
  } 
  
  /* receipt end */
@media (min-width: 768px) {	
	.receipt_background{
		min-height: 536px;
	  }
}

@media (min-width: 992px) {	
	.receipt_background{
		min-height: 536px;
	  }
}
  
  
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
